@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid jumbo">
    <div class="container mb-4">
        <div class="row justify-content-md-center">
            <div class="col-sm-8 mt-2 mb-3">
                <div class="row">
                    <div class="row col-sm-8">
                        <div class="text-center">
                            <h2 data-aos="fade-up" data-aos-delay="200" class="mod-text-head">Enjoy Your Healthy<br>Delicious Food</h2>
                            <p data-aos="fade-up" data-aos-delay="200" class="mod-text-para p-4">Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-8 d-lg-inline-flex flex-sm-row p-2">
                            <div class="col-sm-4 m-2 text-sm-center">
                                <button href="#book-a-table" data-aos-delay="200" data-aos="fade-down" class="btn btn-danger rounded">Book a Table</button>
                            </div>
                            <div class="col-sm-4 m-2 text-sm-center">
                                <button href="https://www.youtube.com/watch?v=LXb3EKWsInQ" data-aos-delay="200" data-aos="fade-down" class="btn btn-outline-danger rounded">Watch Video</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center mt-2">
                <img src="~/images/hero-img.png" data-aos="fade-left" data-aos-delay="200" class="img-fluid banner-img" alt="image">
            </div>
        </div>
    </div>
</div>




