@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid jumbo">
    <div class="container mb-2">
        <div class="row justify-content-md-center">
            <div class="col-sm-8 mt-2 mb-3">
                <div class="row">
                    <div class="row col-sm-8">
                        <div class="text-center">
                            <h2 data-aos="fade-up" data-aos-delay="200" class="mod-text-head">Enjoy Your Healthy<br>Delicious Food</h2>
                            <p data-aos="fade-up" data-aos-delay="200" class="mod-text-para p-4">
                                Come join me as I take you on culinary journey of spices, aromas and flavours. Here food is prepared with love. 
                                Come explore and experience the joys of cooking Halal Indian & International recipes. 
                            </p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-8 d-lg-inline-flex flex-sm-row p-2">
                            <div class="col-sm-4 m-2 text-sm-center">
                                <button href="#book-a-table" data-aos-delay="200" data-aos="fade-down" class="btn btn-danger rounded">Book a Table</button>
                            </div>
                            <div class="col-sm-4 m-2 text-sm-center">
                                <button href="https://www.youtube.com/watch?v=LXb3EKWsInQ" data-aos-delay="200" data-aos="fade-down" class="btn btn-dark rounded">Watch Video</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center mt-2">
                <img src="~/images/hero-img.png" data-aos="fade-left" data-aos-delay="200" class="img-fluid banner-img" alt="image">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card m-2 p-2">
        <div class="card-header text-center" id="about-us">
            <h4 class="mod-text-head" style="font-size: 2rem !important">About Us</h4>
        </div>
        <div class="card-body">
            <div class="row justify-content-md-center">
                <div class="col mr-2">
                    <img src="~/images/table-25.jpg" style="background-repeat: no-repeat; height: auto; width: 100%" />
                </div>
                <div class="col ml-2">
                    <div class="row">
                        <div class="col">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ul class="nav-item">
                                <li class="nav-link">
                                    <span><i class="fa-solid fa-check-double text-danger"></i></span>
                                    <i style="color: black !important">Ullamco laboris nisi ut aliquip ex ea commodo consequat.</i>
                                </li>
                                <li class="nav-link">
                                    <span><i class="fa-solid fa-check-double text-danger"></i></span>
                                    <i style="color: black !important">Ullamco laboris nisi ut aliquip ex ea commodo consequat.</i>
                                </li>
                                <li class="nav-link">
                                    <span><i class="fa-solid fa-check-double text-danger"></i></span>
                                    <i style="color: black !important">
                                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta
                                        storacalaperda mastiro dolore eu fugiat nulla pariatur.
                                    </i>
                                </li>
                            </ul>
                            <p>
                                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <iframe style="border: black solid 2px; border-radius: 5px 5px" width="100%" height="300px" src="https://www.youtube.com/embed/LXb3EKWsInQ"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




