html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.rounded {
    border-radius: 30px 30px !important;
}
.jumbo {
    padding: 100px;
    background: rgb(207,207,207);
    background: linear-gradient(90deg, rgba(207,207,207,1) 0%, rgba(181,8,8,1) 100%);
}
